.dashboard-home{
    padding-right: 20px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.dashboard-home div.left{
    flex: 3;
    min-width: 70%;
}


.dashboard-home div.right{
    flex: 1;
    min-width: 300px;
}
/* ========================================= */
/* css for hihglights goes here */

.left .highlights-container{
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2em;
}

.highlights-container .highlight{
    width: 270px;
    min-width: 270px;
    padding: 0px 0 10px 0;
    background-color: white;
    border: 1px solid #dddd;
    border-radius: 5px;
    box-shadow: 0 2.5px 5px #eeee;
}

.highlight .header{
    vertical-align: middle;
    padding: 0.5em 1em;
    width: 100%;
    border-bottom: 1px solid #eeee;
    font-size: 18px;
    font-weight: 500;
    background-color: aliceblue;
}

.highlight.customers .header{
    background-color: #c8e6c9;
}

.highlight.revenue .header{
    background-color: #bbdefb;
}

.highlight.orders .header{
    background-color: #ffcc80;
}

.highlight .content{
    padding: 0.5em 1em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.highlight .content span:first-child p{
    margin: 0 !important;
}
.highlight .content span:first-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
    font-size: 18px;
    font-weight: 500;
}
.highlight .content span:first-child small{
    font-size: 16px;
    font-weight: 400;
}
/* ========================================= */
/* css for right side */

.dashboard-home .right{
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}


/* ==================================================== */
/* news css goes here */

.dashboard-home .news-container{
    padding: 10px 10px;
    width: 300px;
    height: max-content;
    box-shadow: 0 2.5px 5px #dddd;
    background-color: white;
    border: 1px solid #dddd;
}

.dashboard-home .news-container .scrollable-div{
    height: max-content;
    max-height: 270px;
    overflow-y: auto;
}

.dashboard-home .news-container ul{
    margin-top: 10px;
}

.dashboard-home .news-container ul p{
    margin: 0;
    font-size: 15px;
}

@media only screen and (max-width: 900px) {
    .dashboard-home div.left{
        width: 100%;
    }
    .dashboard-home div.right{
        min-width: 100%;
    }
}