.sidebar{
    position: fixed;
    top: 0;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    max-width: 250px;
    height: 100%;
    max-height: 100% !important;
    overflow-y: scroll;
    border-right: 1px solid #eeee;
    background-color: white;
}

.sidebar .brandLogo{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    text-align: center;
    border-bottom: 1px solid #dddd;
}

.sidebar-menu{
    width: 100%;
    min-height: 100vh !important;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar-menu .label{
    margin-bottom: 0px;
}

.sidebar-menu .dropdown{
    width: 100%;
}
.sidebar-menu button.item{
    margin-bottom: 0px !important;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px !important;
    width: 100%;
    height: 45px;
    text-align: left;
    text-indent: 15px;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    background-color: transparent;
    color: rgb(91, 91, 91);
}

.sidebar-menu button.item p{
    margin-left: -5%;
}

.sidebar .collapse{
    width: 100%;
}

.sidebar .collapse button.item{
    width: 90%;
    margin-left: 20px;
}

.sidebar-menu button.item i{
    margin-right: 10px;
    font-size: 18px;
}


/* -------------------------------------------- */

.sidebar-menu.home button:focus,
.sidebar-menu.home button.home,
.sidebar-menu.operations button.operations,
.sidebar-menu.sensors button.sensors,
.sidebar-menu.insights button.insights,
.sidebar-menu.reports .collapse button.reports,
.sidebar-menu.sell button.sell,
.sidebar-menu.disease button.disease,
.sidebar-menu.setup button.setup,
.sidebar-menu.profile button.profile{
    background-color: #def0ec;
    color: #11713f;
}

.sidebar-menu.reports button.insights{
    color: black;
    background-color: transparent;
}


@media only screen and (max-width: 600px) {
    .sidebar{
        width: 100px;
    }

    .sidebar .sidebar-menu button{
        justify-content: center !important;
        align-items: center;
        text-indent: 0px !important;
        text-align: center !important;
    }
    .sidebar .sidebar-menu button i{
        margin: 0px !important;
    }
    .sidebar .sidebar-menu label,
    .sidebar .sidebar-menu button p{
        display: none;
    }
    .dashboard .main{
        margin-left: 100px !important;
        width: calc(100% - 100px) !important;
    }
}

/* width */
.sidebar::-webkit-scrollbar {
    border-radius: 5px;
    width: 4px;
  }
  
  /* Track */
.sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
.sidebar::-webkit-scrollbar-thumb {
    background: rgba(221, 221, 221, 0.8);
  }
  
  /* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
    background: rgb(220, 220, 220);
  }