div.login-form-main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 90vh !important;
    background-color: rgb(245, 245, 245);
  }
  
  h3.org-name {
    margin: 20px 0;
    font-size: 24px;
  }
  
  .hr-container {
    position: relative;
    margin-top: 10px;
  }
  
  hr {
    margin: 15px 0;
    border: 0;
    height: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  hr.or-hr::before {
    content: "OR";
    position: absolute;
    width: 50px;
    background-color: white;
    color: rgb(158, 158, 158);
    top: 50%;
    left: calc(50% - 25px);
    text-align: center;
    top: 7.5px;
  }
  
  div.login-form-main-wrapper .img-container {
    background-color: transparent !important;
    width: 30%;
    min-width: 400px;
  }
  
  div.login-form-main-wrapper .login-form-container {
    width: 30%;
    min-width: 300px;
    height: max-content !important;
    background-color: transparent !important;
  }
  
  div.login-form-main-wrapper .login-form-container .login-form,
  div.login-form-main-wrapper .login-form-container .signup-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 25px 25px;
    border: 1px solid #dddd;
    background-color: white;
  }
  
  div.login-form-main-wrapper .login-form-container .signup-div {
    align-items: center;
    margin-top: 15px;
  }

  div.login-form-main-wrapper .login-form-container .signup-div p{
    margin: 0 !important;
  }
  
  div.login-form-main-wrapper .login-form-container .signup-div button {
    text-decoration: underline;
    margin-left: 5px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  div.login-form-main-wrapper .login-form-container .login-form input,
  select {
    width: 100%;
    height: 37px;
    margin-bottom: 12px;
    border: 1px solid #dddd;
    border-radius: 2px;
    outline: none;
    text-indent: 15px;
    background-color: rgb(248, 248, 248);
  }
  
  div.login-form-main-wrapper
    .login-form-container
    .login-form
    input::placeholder {
    font-weight: 400;
    font-size: 14px !important;
  }
  
  div.login-form-main-wrapper .login-form-container .login-form input:focus {
    border: 1px solid gray;
  }
  
  div.login-form-main-wrapper .img-container,
  div.login-form-main-wrapper .login-form-container {
    height: 70%;
    margin: 20px;
    position: relative;
    background-color: white;
  }
  
  div.login-form-main-wrapper .img-container img {
    width: 100%;
    height: 100%;
  }
  
  button.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    background-color: black !important;
    border: none;
    outline: none;
    border-radius: 2px;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
  }
  
  button.submit-btn:hover {
    background-color: black !important;
  }
  
  .login-form a,
  .signup-div a {
    text-decoration: none;
    color: black !important;
    margin: 10px 0;
    cursor: pointer;
  }
  
  a.forgot-password {
    font-size: 14px;
    color: rgb(90, 90, 90) !important;
  }
  
  @media only screen and (max-width: 900px) {
    div.login-form-main-wrapper .login-form-container {
      margin: 0;
      width: 90%;
      min-width: 300px;
    }
    div.login-form-main-wrapper .img-container {
      display: none;
    }
  }
  
  footer .bottom-main {
    width: 100%;
    line-height: 40px;
    padding: 20px 0 0 0;
    color: rgb(49, 49, 49);
    font-size: 14px;
    text-align: center;
  }


  /* ================================== */
  .signup-wrapper img.profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size:cover;
  }

  .signup-wrapper button.removeUploadedImageAtSignup{
    margin-top: 15px;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    background-color: black;
  }

.signup-wrapper form{
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: flex-start;
}

.signup-wrapper form .upload-section{
  width: 500px;
  background-color: antiquewhite;
}