.forum .navbar{
    position: fixed;
    top: 0;
    z-index: 999999;
    padding: 0 2em;
    padding-left: calc(5% - 2em);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 0 2.5px 5px #dddd;
    background-color: white;
}

.navbar .brand{
    margin-left: 7.5%;
    width: 105px;
    padding: 1px 5px;
    color: white;
    background-color: black;
}

.navbar .center{
    width: calc(92.5% - 105px);
    padding-right: 105px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.navbar .center .left{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar .actionButtons button,
.navbar .center button{
    padding: 7px 15px !important;
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 7px;
    color: black;
    background-color: transparent;
}
.navbar .actionButtons button.active,
.navbar .center button.active{
    color: white !important;
    border: 1px solid #017368 !important;
    background-color: #00897b !important;
    transition: none !important;
}

.navbar .searchBar{
    width: 35%;
    min-width: 300px;
}

.navbar .searchBar input{
    width: 100%;
    height: 40px;
    text-indent: 15px;
    border: 1px solid #dddd;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.navbar .actionButtons .loggedInBtns button{
    border: none;
    color: black;
}

.navbar .actionButtons .loggedInBtns button.show{
    color: white;
    background-color: rgba(69, 90, 100) !important;
}
.navbar .actionButtons .loggedInBtns,
.navbar .actionButtons .logedOutBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.navbar .actionButtons{
    margin-left: 5%;
}

.navbar .actionButtons .dropdown-menu.show{
    padding: 0;
    box-sizing:content-box;
    margin-left: -140px; 
    width: 350px;
    min-height: 300px;
    max-height: 350px;
    border: 1px solid #dddd;
    box-shadow: 0 2.5px 5px #dddd;
}

.navbar .actionButtons .logedOutBtns button,
.navbar .actionButtons .loggedInBtns button{
    border-radius: 5px;
    background-color: #e8eaeb;
}

.navbar .actionButtons .logedOutBtns button{
    padding: 0 5px;
    border-radius: 2px;
}

.navbar .actionButtons .logedOutBtns button.active{
    color: white;
    background-color: black;
}