.forum .profile-section{
    padding: 0 10% 30px 10%;
    width: 100%;
    min-height: calc(100vh - 70px);
    height: max-content;
    background-color: #eef2f7;
}

.profile-container .feed-posts{
    max-width: 600px !important;
}

.profile-container .nav-tabs{
    width: max-content;
    background-color: white;
}

.profile-container .nav-tabs button{
    border-radius: 0px;
    color: black;
}

.profile-container .nav-tabs button.active{
    border: 1px solid #cccc;
}

.forum .signup-form-container form{
    display: flex;
    gap: 30px;
}

.forum .profile-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4em;
    width: 100%;
    height: max-content;
}

.profile-container .my-info{
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: max-content;
}

.profile-container .my-info .my-profile{
    width: 100%;
    height: 250px;
    background-color:azure;
}

.profile-container .my-info .my-friends-list{
    width: 100%;
    height: 350px;
    background-color: antiquewhite;
}

.profile-container .details{
    width: 100%;
    flex: 3;
}

.profile-container .details label.internal-div-header{
    font-size: 22px;
    font-weight: 600;
    margin: 25px 0 20px 0;
}

.profile-container .details nav{
    margin-bottom: 20px;
}
.profile-container .details nav button{
    padding: 10px 20px;
}

.feed-posts .post.my-profile-post{
    width: auto;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    background-color: white;
    padding: 30px 0;
}

.details .post{
    width: inherit;
}


.profile-container .details .post .author-post{
    width: inherit;
}

.author-post-image{
    width: 300px !important;
    height: max-content !important;
}

@media only screen and (max-width: 1100px) {
    .forum .signup-form-container form{
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    .forum .profile-section{
        padding: 40px 20px;
    }
    .forum .profile-container{
        flex-direction: column !important;
    }
    .profile-container .my-info{
        min-width: 100%;
        width: 100% !important;
    }
    .profile-container .my-info .my-friends-list{
        display: none !important;
    }
    .profile-container .my-info{
        position: relative;
        top: 0;
    }
}

.forum .profile-section .Toastify__toast{
    margin-top: 80px;
}