@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    position: relative;
}

.App{
    width: 100%;
    height: max-content;
}

.loading{
    position: absolute;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 25px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.4);
}

.collapsing {
    -webkit-transition-delay: 0s !important;
    transition-delay: 0s !important;
    visibility: hidden;
}

.collapse.show {
    -webkit-transition-delay: 0s !important;
    transition-delay: 0s !important;
    visibility: visible;
}